@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@800&display=swap');

body{
   margin: 0;
   text-align: center;
   background-image: url(space.webp);
   background-size: cover;
   height: 100vh;
   padding:0;
}

h1{
    font-family: 'Source Code Pro', monospace;
}

.wording{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.headerC{
    color: black;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    width: 100%;

    border-radius: 25px;
}

.userInfo{
    padding-left: 5%;
    float: left;
}

.userInfoRight{
    padding-right: 5%;
    float: right;
}

.userInfoCenter {
    padding-left: 25%;
    float: left;
    display: flex;
    align-items: center;
}

.strike{
    padding-top: 1em;
    padding-left: 1.25%;
    float: left;
}

.rank{
    padding-left: 5%;
    text-align: left;
}

.stats{
    width: 50rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;

    background-color: white;
    /* display: inline-block; */
    font-family: 'Oswald', sans-serif;
    border-radius: 30px;
}

.leaderButton{
    margin-top: 2%;
}

.rightButton{
    margin-left: 50%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.quiz-container{
    width: 50rem;
    height: 32rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    margin: auto;
}

.question-container{
    width: 85%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgray;
    border-radius: 25px;
    /* margin-bottom: 18rem; */
}

.question-container h1{
    font-size: x-large;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.choices-container{
    /* width: 85%;
    height: 8rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid darkgray;
    margin-bottom: 18rem; */
    width: 85%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid darkgray; */
}

.choices-container span {
    width: 45%;
    height: 3rem;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
}

span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 600;
    color: rgb(22, 22, 22);
    font-family: 'Oswald', sans-serif;
}

span:hover{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #0afbff;
}

input {
    padding: 10px;
    margin: 10px, 10px;
}

button{
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    font-family: monospace;
    min-height: 30px;
    min-width: 120px;
}

button:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #0afbff;
    cursor: pointer;
}

table{
    margin-top: 5px;
    width: 100%;
}

td{
    padding: 7px;
}

th{
    text-decoration: underline;
}

input[type="radio"] {
    position: relative;
    display: none;
}
